<html xmlns="http://www.w3.org/1999/xhtml">
<head lang="tr">
    <title>Todo App</title>
    <link href="~/node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />

</head>
<body>
    <div class="container my-2">
        <p class="text-danger">Test</p>
        <table class="">
            <thead>

            </thead>
            <tbody>

            </tbody>
        </table>
    </div>
</body>
</html>